html {
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 36px;
  font-weight: 700;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  margin: 0px;
  font-size: 14px;
}


.section-title-bg {
  display: inline;
  font-size: 115px;
  font-weight: 700;
  height: 100%;
  left: -173px;
  opacity: 0.1;
  position: absolute;
  top: -14px;
  width: 100%;
  text-align: center;
}

.section-title-header p {
  text: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}

.section-title {
  font-size: 36px;
  color: #212121;
  line-height: 52px;
  padding-bottom: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 15px;
}

.section-title:before {
  position: absolute;
  content: '';
  left: 15px;
  bottom: 8px;
  width: 48px;
  height: 1px;
  background-color: #E91E63;
}

.section-title:after {
  position: absolute;
  content: '';
  left: 0px;
  bottom: 2px;
  width: 48px;
  height: 1px;
  background-color: #E91E63;
}

.section-title:before, .section-title:after {
  left: 50%;
  margin-left: -45px;
}

.section-title:after {
  margin-left: -30px;
}

.section-subcontent {
  font-size: 16px;
  text: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}

.section-sub {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 52px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  position: relative;
}

.section-sub:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 45px;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #E91E63;
}

.bg-drack {
  background: #f1f1f1;
}

.bg-white {
  background: #fff;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}


#preloader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
}

.sk-circle {
  margin: 0px auto;
  width: 40px;
  height: 40px;
  top: 45%;
  position: relative;
}

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #E91E63;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.section-padding {
  padding: 60px 0;
}

.no-padding {
  padding: 0 !important;
}

.padding-left-none {
  padding-left: 0;
}

.padding-right-none {
  padding-right: 0;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

#white-bg {
  background: #fff;
}

.indigo {
  background: transparent;
}


.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

.slicknav_btn {
  border-color: #E91E63;
}

.slicknav_menu .slicknav_icon-bar {
  background: #E91E63;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }
}

.mobile-menu {
  display: none;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 15px 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 75%;
  }
  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    background: #E91E63;
    color: #fff;
  }
  .slicknav_nav a:hover, .slicknav_nav .active {
    color: #E91E63;
    background: #f5f5f5;
  }
  .slicknav_nav .dropdown li a.active {
    background: #f5f5f5;
    color: #E91E63;
  }
}


/* Schedule Area */

#schedule-tab {
  position: relative;
}

.schedule .schedule-tab-title {
  margin-bottom: 35px;
}

.schedule .schedule-tab-title .nav-tabs {
  background: #ffffff;
}

.schedule .schedule-tab-title .nav-tabs .nav-link {
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  height: 90px;
  width: 255px;
  border-bottom: 1px solid #e5e5e5;
  transition: all 500ms ease;
  padding: 20px 20px;
}

.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link, .schedule .schedule-tab-title .nav-tabs .nav-link.active,
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover {
  background: #E91E63;
  border: 1px solid #E91E63;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link h4, .schedule .schedule-tab-title .nav-tabs .nav-link.active h4,
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover h4 {
  color: #fff;
}

.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link h5, .schedule .schedule-tab-title .nav-tabs .nav-link.active h5,
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover h5 {
  color: #fff;
}

.schedule .schedule-tab-title .item-text h4 {
  font-size: 15px;
  color: #2f323c;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.schedule .schedule-tab-title .item-text h5 {
  font-size: 14px;
  color: #848484;
  line-height: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.schedule .schedule-tab-content .tab-content {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.1);
}

.schedule .schedule-tab-content .card {
  border: none;
}

.schedule .card-header {
  border: none;
  cursor: pointer;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.schedule .card-header .images-box {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 20px;
}

.schedule .card-header .images-box img {
  border-radius: 50%;
}

.schedule .card-header .time {
  color: #777777;
  font-size: 13px;
  margin-bottom: 5px;
}


.schedule .card-header h4 {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
  margin-bottom: 8px;
}

.schedule .card-header .name {
  position: relative;
  font-size: 14px;
  color: #777777;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 5px;
}

.schedule .card-body {
  padding: 15px 70px 15px 110px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.schedule .card-body .location {
  font-size: 13px;
  color: #777777;
}

.schedule .card-body .location span {
  color: #E91E63;
  margin-right: 5px;
}

.accordion .card {
  border-radius: 0px;
  margin-bottom: -2px;
}

.accordion .header-title {
  position: relative;
}

.accordion .header-title:after {
  font-family: "LineIcons";
  content: "\e93a";
  position: absolute;
  right: 10px;
  color: #999;
  top: 50%;
  line-height: 1;
  padding: 0px 5px;
  margin-top: -7px;
}

.accordion .collapsed:after {
  content: "\e940";
}

.accordion .card-header {
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.accordion .card-header i {
  color: #E91E63;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  border-right: 1px solid #ddd;
}

.accordion .card-body {
  padding-left: 56px;
}


.padding-none {
  padding: 0;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.padding-none:nth-child(1) {
  border-left: none;
}

.padding-none:nth-child(4) {
  border-bottom: none;
  border-left: none;
}

.padding-none:nth-child(5) {
  border-bottom: none;
}

.padding-none:nth-child(6) {
  border-bottom: none;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}
